body {
  font-size: 120%;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("https://cdn.hipwallpaper.com/i/2/51/GuFNwz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

button, input {
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}



table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: whitesmoke;
}



.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 125%;
  color: black;

}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: black;
}

#myChart {
  background-color: whitesmoke;
  margin-top: 1.5rem;
}